.navbar {
  background-color: #fdf002;
  z-index: 1;
  position: fixed;
  width: 100%;
}

.navLink {
  padding: 0 1rem;
  text-decoration: none;
  color: black;
}
.navLink:hover {
  color: black;
  background-color: rgba(128, 128, 128, 0.329);
  border-radius: 20px
}

.active {
  font-weight: bold;
  background-color: #fdf002(238, 149, 162);
  border-radius: 20px;
}

.cartWidget{
  display: flex;
}
.cartWidget:hover{
  transform: scale(1.5);
}

.widgetCantidad{
  background-color: rgb(250, 32, 64);
  font-size: 1.5rem;
  font-weight: bold;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}