.App {
  text-align: center;
}

body{
  font-family: 'Barlow Condensed', sans-serif;  
  font-style: italic; 
  font-size: x-large;
  font-weight: bold;
}


/* Estilos comunes para varios archivos */
.container{
  padding-top: 4rem;
}
/*Simulacion de carga de getFetch*/
.preCarga{
  margin:auto;
  width: 10rem;
  height: 10rem;
  border: 1rem solid #eee;
  border-top: 1rem solid #fdf002;
  border-radius: 50%;
  animation-name: girar;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes girar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}